## Perform Search on a Website and Scrap the Result

### Step 1 - Import necessary libraries

#### By default selenium package wasn't installed and hence we got error the first time we executed the below line. So we launched Anaconda Navigator and under that Jupyter Lab, where we could see all the packages installed in the Anaconda environment and install any additional packages, such as selenium in this case

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd

### Step 2 - Let the user input the search criteria

In [2]:
search_str = input("Type the text to search and press enter: ")

Type the text to search and press enter: Avalanche

### Step 3 - Create an empty dataframe

In [3]:
col_names = ['teamname', 'season', 'wins', 'losses', 'ot_losses', 'win_percentage', 'goals_for', 'goals_against', 'plus_minus']
df = pd.DataFrame(columns=col_names)

### Step 4 - Load the web page using selenium driver and perform search on the webpage

In [4]:
# We downloaded the Edge driver for selenium and saved that on the following path
file_path = "C:\Program Files (x86)\msedgedriver.exe"
driver = webdriver.Edge(file_path)

# Now with the driver loaded, the following line is going to open scrapethissite page in different window of MS Edge
driver.get("https://www.scrapethissite.com/pages/forms/")

time.sleep(2)

# Search the listing for a location
search = driver.find_element_by_id("q")
search.send_keys(search_str)
search.send_keys(Keys.RETURN)

teams = driver.find_elements_by_class_name("team")

### Step 5 - Validate the search result and load that into the dataframe

In [5]:
# First empty the dataframe
df.drop(df.index, inplace = True)

# Now let's navigate through the search result
if teams:
    # If the teams has valid value meaning the search returned some result
    for team in teams:
        # Create an empty list to be used to populate each line of the search result and add that to the dataframe
        record = []
        
        all_stat = team.find_elements_by_tag_name("td")
        if all_stat:
            for year_stat in all_stat:
                record.append(year_stat.text)
        df.loc[len(df.index)] = record
else:
    print("The search didn't return any result")

### Step 6 - Load the dataframe

In [6]:
# Review the dataframe whether records were populated correctly
df.head(20)

,teamname,season,wins,losses,ot_losses,win_percentage,goals_for,goals_against,plus_minus
0,Colorado Avalanche,1995,47,25,,0.573,326,240,86
1,Colorado Avalanche,1996,49,24,,0.598,277,205,72
2,Colorado Avalanche,1997,39,26,,0.476,231,205,26
3,Colorado Avalanche,1998,44,28,,0.537,239,205,34
4,Colorado Avalanche,1999,42,28,1,0.512,233,201,32
5,Colorado Avalanche,2000,52,16,4,0.634,270,192,78
6,Colorado Avalanche,2001,45,28,1,0.549,212,169,43
7,Colorado Avalanche,2002,42,19,8,0.512,251,194,57
8,Colorado Avalanche,2003,40,22,7,0.488,236,198,38
9,Colorado Avalanche,2005,43,30,9,0.524,283,257,26
10,Colorado Avalanche,2006,44,31,7,0.537,272,251,21
11,Colorado Avalanche,2007,44,31,7,0.537,231,219,12
12,Colorado Avalanche,2008,32,45,5,0.39,199,257,-58
13,Colorado Avalanche,2009,43,30,9,0.524,244,233,11
14,Colorado Avalanche,2010,30,44,8,0.366,227,288,-61
15,Colorado Avalanche,2011,41,35,6,0.5,208,220,-12